      body {
        padding-left: 11em;
        padding-right: 11em;
        font-family: 'Roboto', sans-serif;
        color: #000;
        background-color: #fff; 
      }
      .bar{
        background-color: #E10098;
        height: 50px;
        padding: 10px;
        color: white;
        text-align: left;
      }
      .searchy{
       font-family: 'Roboto', sans-serif;
       padding-top: 20px;
      }
      .productsmi {
    display: inline-block;
    text-align: center;
    }
     .ng-scope p{
      display: inline-block;
     }
     input.ng-pristine.ng-valid{
      background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1em;
        -webkit-appearance: none;

     }
     input.ng-valid.ng-dirty.ng-valid-parse.ng-touched{
          background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1em;
        -webkit-appearance: none;
     }
             input:focus {
              outline-style:none;
   box-shadow:none;
   border-color:transparent;
}

  button {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 5px 20px;
    font-size: 1em;
}

li{
 list-style-type: none;
}
